<%- include('partials/head', { pageTitle: category }) %>

<div class="page-header">
  <h1><%= category %></h1>
  <p><%= articles.length %> article<%= articles.length !== 1 ? 's' : '' %></p>
</div>

<%- include('partials/articleList', { articles }) %>
<%- include('partials/pagination', { page, pages, baseUrl }) %>

<%- include('partials/footer') %>
